<h1> <%= ENV['RG_SITE_NAME'] %> </h1>

<p>
  Welcome to <%= link_to(ENV['RG_SITE_NAME'], ENV['RG_SITE_URL']) %>.
  Join the forces of Right against the barbaric hordes, and defend
  your city!
</p>

<p>
  The Defense of Astrino is a game based very strongly on
  <a href="http://www.erfworld.com">ErfWorld</a>, an excellent
  webcomic by Rob Balder and Jamie Noguchi.  All art worth a damn on
  this site has been taken from that comic, with permission, under the
  Creative Commons NonCommercial Attribution ShareAlike license.  You
  can use anything I put up here under those same conditions.
</p>

<% if @current_user %>
<div id="gameLogin">
  <p> <span id="gameLoginPara">
    <%= link_to("Click Here", :action => 'full') %> </span>
  </p>
</div>
<% end %>

<!-- The login/logout/name bar -->
<div id="loginBar">
<table>
<tr>
  <% unless @current_user %>
  <td id="regButton">
    <%= button_to("Register", :controller => 'users', :action => 'new') %>
  </td>
  <td id="loginButton">
    <%= button_to("Log In", :controller => 'sessions', :action => 'new') %>
  </td>
  <% else %>
  <td id="logoutButton">
    <%= button_to("Log Out", :controller => 'sessions', :action => 'destroy') %>
  </td>
  <% end %>
  <td id="loginEntry">
    <%= @current_user ? "Logged in as #{@current_user.login}" :
	"Not logged in" %>
  </td>
</tr>
</table>
</div>
